.howtoplay{
    display: none;
    padding: 0 15px;
    max-width: 500px;

    &.modal{
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 500px;
        height: auto;
        z-index: 99;

        & + .howtoplay__bg{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: .4;
            background-color: $negro2;
            z-index: 98;
        }
    }

    &__container{
        padding: 15px 25px 20px;
        background-color: $negro2;
        border-radius: 15px;
    }

    &__wrapper{

        ol{
            padding-top: 15px;
            margin-bottom: 25px;
        }

        li{
            display: flex;
            gap: 15px;

            &:not(:last-child){
                margin-bottom: 25px;
            }

            span{
                font-weight: 600;
                font-size: 25px;
                border-radius: 6px;
                @include flexcentering();
                min-width: 45px;
                width: 45px;
                height: 45px;
            }
        }
    }

    &__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
        border-top: 2px solid $gris1;
    }
}