body#notfound{

    main{
        justify-content: space-between;
    }

    .content-wrapper{
        .container{
            font-size: 30px;
            font-family: "Old-London";
        }
    }

    #teclado_mobile{
        display: none;
    }
}